.mc-container {
  width: 100%;
  height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mc-card {
  width: 360px;
  height: 260px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.15);
  position: relative;
  transform-style: preserve-3d;
  transition: transform .45s ease, opacity .25s ease;
  cursor: pointer;
}

.mc-card.flipped {
  transform: rotateY(180deg);
}

.mc-face {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 26px;
  box-sizing: border-box;
  border-radius: 20px;
  backface-visibility: hidden;
  font-size: 20px;
  font-weight: 500;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Лицевая сторона */
.mc-front {
  background: #fa7402;
  color: white;
}

/* Задняя сторона */
.mc-back {
  background: #fff3e6;
  color: #333;
  transform: rotateY(180deg);
}

/* Кнопки */
.mc-buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.mc-btn {
  padding: 10px 20px;
  background: #fa7402;
  color: white;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.mc-btn:hover {
  background: #ff8e2f;
}
.mc-progress {
  margin-bottom: 20px;
  font-size: 18px;
  color: #444;
  font-weight: 500;
  text-transform: lowercase;
}